<% include ../partials/header %>

<div class="top">
    <div class="budget">
        <div class="budget_title">
            Hello <%= user.username %>,  available budget on <%= moment().format("Do MMM YYYY"); %>:
        </div>

        <div class="budget__value">£<%=budgetTotals.totalBudget.toLocaleString("en-IN", {minimumFractionDigits: 2, maximumFractionDigits: 2});%></div>

        <div class="budget__income clearfix">
            <div class="budget__income--text">Income</div>
            <div class="right">
                <div class="budget__income--value">+ £<%=budgetTotals.totalInc.toLocaleString("en-IN", {minimumFractionDigits: 2, maximumFractionDigits: 2});%></div>
                <div class="budget__income--percentage">&nbsp;</div>
            </div>
        </div>

        <div class="budget__expenses clearfix">
                <div class="budget__expenses--text">Expenses</div>
                <div class="right clearfix">
                    <div class="budget__expenses--value">- £<%=budgetTotals.totalExp.toLocaleString("en-IN", {minimumFractionDigits: 2, maximumFractionDigits: 2});%></div>
                    <div class="budget__expenses--percentage"><%=expPercentage %>%</div>
                </div>
            </div>
            
    </div>
</div>




<div class="bottom">
    

<div class="receipt_container clearfix">
    <div class="expenses">
            <div class="add">
                    <div class="add_receipt">
                        <form action="/budget/<%= currentUser.username %>" method="POST">
                            <select class="add_type" name="type">
                                <option value="inc">Income</option>
                                <option value="exp">Expense</option>
                            </select>
                            <select class="add_category" name="category">
                                <optgroup label="Expenses">
                                    <option value="transport">Transport</option>
                                    <option value="groceries">Groceries</option>
                                    <option value="eating_out">Eating Out</option>
                                    <option value="bills">Bills</option>
                                    <option value="entertainment">Entertainment</option>
                                    <option value="holidays">Holidays</option>
                                    <option value="shopping">Shopping</option>
                                    <option value="savings">Savings</option>
                                    <option value="expenses">Expenses</option>
                                    <option value="general">General</option>
                                </optgroup>
                                <optgroup label="Income">
                                    <option value="wages">Wages</option>
                                    <option value="refund">Refund</option>
                                    <option value="cash">Cash Back</option>
                                    <option value="gift">Gift</option>
                                    <option value="general">General</option>
                                </optgroup>
                                
                            </select>
                            <input type="text" class="add__description" name="description" placeholder="Add description">
                            <input type="number" class="add__value" name="value" placeholder="Value" min="0.01" step="0.01">
                            <button class="add__btn"><i class="ion-ios-checkmark-outline"></i></button>  
                        </form>
                    </div>  
                </div>    
                
        <div class="contents">
            <div class="description_title">Receipts</div>
            <!-- <h2 class="receipts__title"></h2> -->
        </div>
        
        <div class="expenses__list">
            <% receipts.forEach(function(receipt) { %>
                <% if (receipt.receipt_type == "exp") { %>
                <div class="item clearfix" id="expense-0">
                    
                        
                    <div class="item_category"><img src="/stylesheets/eating_out.png" height="42" width="42"><%= receipt.category %></div>
                    <div class="item__description"><%= receipt.description %></div>
                    <div class="right clearfix">
                        <div class="item__value">- <%= receipt.value.toLocaleString("en-IN", {minimumFractionDigits: 2, maximumFractionDigits: 2}); %></div>
                        <div><%= moment(receipt.createdAt).fromNow() %></div>
                        <div><a href="/budget/<%=user.username%>/<%=receipt._id%>/edit">Edit</a></div>
                        <div class="exp__icon">EXPENSE</div>
                        <form action="/budget/<%=currentUser.username%>/<%=receipt._id%>?_method=DELETE" method="POST">
                            <div class="item__delete">
                                <button class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <% } else { %>
                       
            <div class="item clearfix" id="income-0">
                <div class="item__description"><%= receipt.description %></div>
                <div class="right clearfix">
                    <div class="item__value">+ <%= receipt.value.toLocaleString("en-IN", {minimumFractionDigits: 2, maximumFractionDigits: 2}); %></div>
                    <div><%= moment(receipt.createdAt).fromNow() %></div>
                    <div><a href="/budget/<%=user.username%>/<%=receipt._id%>/edit">Edit</a></div>
                        <div class="inc__icon">INCOME</div>
                    <form action="/budget/<%=currentUser.username%>/<%=receipt._id%>?_method=DELETE" method="POST">
                        <div class="item__delete">
                            <button class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
                        </div>
                    </form>    
                </div>
            </div>
                   <% } %> 
            <% }); %>
        </div>
    </div>
</div>



<% include ../partials/footer %>