<% include ../partials/header %>


<h4> <%= user.username %> </h4>

<form action="/budget/<%= currentUser.username %>" method="POST">
    <div class="add_record">
        <select class="add_type" name="type">
            <option value="inc">+</option>
            <option value="exp">-</option>
        </select>
        <select class="add_category" name="category">
            <optgroup label="Expenses">
                <option value="transport">Transport</option>
                <option value="groceries">Groceries</option>
                <option value="eating_out">Eating Out</option>
                <option value="bills">Bills</option>
                <option value="entertainment">Entertainment</option>
                <option value="holidays">Holidays</option>
                <option value="shopping">Shopping</option>
                <option value="savings">Savings</option>
                <option value="expenses">Expenses</option>
                <option value="general">General</option>
            </optgroup>
            <optgroup label="Income">
                <option value="wages">Wages</option>
                <option value="refund">Refund</option>
                <option value="cash">Cash Back</option>
                <option value="gift">Gift</option>
                <option value="general">General</option>
            </optgroup>
            
        </select>
        <input type="text" class="add__description" name="description" placeholder="Add description">
        <input type="number" class="add__value" name="value" placeholder="Value" min="0.01" step="0.01">
        <button class="add__btn"><i class="ion-ios-checkmark-outline"></i></button>
        
    </div>    
</form>

<% function budgetBalance(receipts) { %>
    <% var total = 0; %>
    <% receipts.forEach(function(receipt) { %>
        <% if (receipt.receipt_type == "exp") { %>
            <% total -= receipt.value; %>
        <% } else { %>
            <% total += receipt.value %>
        <% } %>
    <% }); %>
    <% return total %>  
<% } %> 

<h2>Welcome back <%= user.username %>, your budget balance is £<%=budgetBalance(receipts)%></h2>




   



   <div class="container clearfix">
    <div class="income">
        <h2 class="icome__title">Income</h2>
        
        <div class="income__list">
           
            <!--
            <div class="item clearfix" id="income-0">
                <div class="item__description">Salary</div>
                <div class="right clearfix">
                    <div class="item__value">+ 2,100.00</div>
                    <div class="item__delete">
                        <button class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
                    </div>
                </div>
            </div>
            
            <div class="item clearfix" id="income-1">
                <div class="item__description">Sold car</div>
                <div class="right clearfix">
                    <div class="item__value">+ 1,500.00</div>
                    <div class="item__delete">
                        <button class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
                    </div>
                </div>
            </div>
            -->
            
        </div>
    </div>
    
    
    
    <div class="expenses">
        <h2 class="expenses__title">Expenses</h2>
        
        <div class="expenses__list">
            <% receipts.forEach(function(receipt) { %>
                <% if (receipt.receipt_type == "exp") { %>
                <div class="item clearfix" id="expense-0">
                    <div class="item__description"><%= receipt.description %></div>
                    <div class="right clearfix">
                        <div class="item__value">-<%= receipt.value %></div>
                        <div><%= moment(receipt.createdAt).fromNow() %></div>
                        <div class="item__percentage">21%</div>
                        <div class="item__delete">
                            <button class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
                        </div>
                    </div>
                </div>
                <% } else { %>
                       
            <div class="item clearfix" id="income-0">
                <div class="item__description"><%= receipt.description %></div>
                <div class="right clearfix">
                    <div class="item__value">+ <%= receipt.value %></div>
                    <div class="item__delete">
                        <button class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
                    </div>
                </div>
            </div>
                   <% } %> 
            <% }); %>
            
            

           
            
        </div>
    </div>
</div>   




<% include ../partials/footer %>